<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="styles.css">-->


    <title>Wine Selection Page</title>
</head>
    <h1>Available Routes:</h1>
<body>
    <ul>
        <li><a href="http://127.0.0.1:5000/all"
            target="_blank">Get All Wines:..... http://127.0.0.1:5000/all </a></li>
        <li><a href="http://127.0.0.1:5000/variety/Merlot"
            target="_blank">Get a Specific Variety:..... http://127.0.0.1:5000/variety/Merlot</a></li>
        <li><a href="http://127.0.0.1:5000/options/Merlot/91/20"
            target="_blank">Get a Variety +/- rating and +/- cost:..... http://127.0.0.1:5000/options/Merlot/91/20</a></li>
        <li><a href="http://127.0.0.1:5000/tasters/Merlot"
            target="_blank">Get Tasters for a Variety(no nulls):..... http://127.0.0.1:5000/tasters/Merlot</a></li>
        <li><a href="http://127.0.0.1:5000/price/44"
            target="_blank">Get a particular +/- price:.....http://127.0.0.1:5000/price/44</a></li>
        <li><a href="http://127.0.0.1:5000/vintage/2012" 
            target="_blank">Get a particular vintage year:.....http://127.0.0.1:5000/vintage/2012 </a></li>
        <li><a href="http://127.0.0.1:5000/winery/Oakville Ranch" 
            target="_blank">Get a particular winery:.....http://127.0.0.1:5000/winery/Oakville Ranch</a></li>
    </ul>
</body>
</html>




